<!DOCTYPE html>
<html>
  <head>
    <title>Image Abstraction Layer Service for freecodecamp</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Image Abstraction Layer Service for freecodecamp
      </h1>
    </header>
    
    <main>
      <p>
        Try searching by doing /api/v1/imagesearch/&lt;serach term&gt;?offset=#
      </p>
      <p>
        or
      </p>
      <p>see a history of your search terms by going to /api/v1/imagesearch</p>
    </main>
  </body>
</html>
